{% extends 'base.html' %}
{% block content %}
<header class="w3-panel" style="padding: 20px 16px">
    <button class="w3-button" style="color:#196EBC;" onclick="goBack()"><i class="fa fa-backward"></i> Enrere</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <div class="w3-center">
        <h2 class="w3-xlarge">Estàs veient les versions el fitxer <b>{{file_name}}</b> del curs <b>{{course_name}}</b>.
        </h2>
    </div>
</header>
<h1>VERSIONS of file name = {{file_name}}</h1>
</br></br>
{% endblock content %}