{% extends 'base.html' %}
{% load markdownify %}
{% block content %}
<header class="w3-panel" style="padding: 20px 16px">
    <div class="w3-center">
        <h2 class="w3-xlarge">Estàs veient el fitxer <b>{{file_name}}</b> del curs <b>{{course_name}}</b>.</h2>
    </div>
</header>
<h2 class="w3-large">Vista del fitxer</h2>
<div class="w3-panel">
    <div style="text-align:center">
        <img style="width: 75%; height:auto" src="../../../static/images/study-bulb.png" class="w3-image"
            alt="study with book">
    </div>
</div>
<div style="text-align:right;">
    <a style="text-decoration:none;" href={% url 'app-edit-file-last-version' name=file_name %}>
        <i class="fa fa-pencil" style="color:#196EBC;padding:4em;scale:2;"></i>
    </a>
</div>
<div style=" padding: 5px;background-color: #d1eeff;">
    <table>
        <tr>
            <td><i class="fa fa-info-circle" style="color:#196EBC"></i></td>
            <td></br></td>
            <td style="text-align:left;">
                <label class="w3-opacity w3-small">
                    <b>Recordatori:</b> Si estàs veient una versió antiga del fitxer i l'intentes editar, ho faràs a
                    partir de la versió més nova, així que no t'extranyis si veus un contingut diferent al editar que el
                    que estàs veient ara.</br>
                </label>
            </td>
        </tr>
    </table>
</div>
<br>
<div style=" width: 100%; border-radius: 0.4em; background: #f1f1f1; padding: 20px;">
    {% if file_extension == ".md" %}
    {{ file_content | markdownify }}
    {% endif %}

    {% if file_extension == ".txt" %}
    {{ file_content }}
    {% endif %}
</div>
</br></br>
{% endblock content %}