{% extends 'base.html' %}

{% block content %}
<header class="w3-panel" style="padding: 20px 16px">
    <button class="w3-button" style="color:#196EBC;" onclick="goBack()"><i class="fa fa-backward"></i> Enrere</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <div class="w3-center">
        <h2 class="w3-xlarge">Consultar fitxers</h2>
        <p>En aquesta secció pots consultar tots els fitxers de l’assignatura.</p>
    </div>
    <div style=" padding: 5px;background-color: #d1eeff;">
        <table>
            <tr>
                <td><i class="fa fa-info-circle" style="color:#196EBC"></i></td>
                <td></br></td>
                <td>
                    <label class="w3-small">
                        <i>Els fitxers PDF no es poden editar i, per tant, no tenen historial.</i>
                    </label>
                </td>
            </tr>
        </table>
    </div>
</header>
<div>
    {{files}}
</div>

<p id="demo"></p>

<script>
    var files = "{{ files }}";

    let text = "";
    for (let i = 0; i < files.length; i++) {
        text += files[i] + "<br>";
    }
    document.getElementById("demo").innerHTML = text;
</script>
<div class="w3-panel">
    <div style="text-align:center">
        <img style="width: 75%; height:auto" src="../static/images/book.png" class="w3-image" alt="study with book">
    </div>
</div>
{% endblock content %}