{% extends 'base.html' %}
{% block content %}
<header class="w3-panel" style="padding: 20px 16px">
    <div class="w3-center">
        <h2 class="w3-xlarge">Consultar fitxers</h2>
        <p>En aquesta secció pots consultar tots els fitxers de l’assignatura <b>{{course_name}}</b>.</p>
    </div>
</header>
<h2 class="w3-large">Llistat de fitxers</h2>
<div class="w3-panel">
    <div style="text-align:center">
        <img style="width: 75%; height:auto" src="../static/images/book.png" class="w3-image" alt="study with book">
    </div>
</div>
</br>
<div style="padding: 5px;background-color: #d1eeff;">
    <table>
        <tr>
            <td><i class="fa fa-info-circle" style="color:#196EBC"></i></td>
            <td></br></td>
            <td style="text-align:left;">
                <label class="w3-opacity w3-small">
                    <i><b>Recordatori:</b> Només pots esborrar aquells fitxers que vas crear tu.</i>
                </label>
            </td>
        </tr>
    </table>
</div>
</br>
<div>
    <table class="rwd-table" style="width: 100%;">
        <tr>
            <th>Fitxer</th>
            <th>Usuari creador</th>
            <th>Accions disponibles</th>
        </tr>
        {% for course_id, username, date, file_name, file_path in files %}
        <tr>
            <td>{{ file_name }}</td>
            <td>{{ username }}</td>
            <td>
                <a style="text-decoration:none;" href={% url 'app-consult-file-last-version' name=file_name %}>
                    <i class="fa fa-eye" style="color:#196EBC;padding-right:1em;scale:1.125;"></i>
                </a>
                <a style="text-decoration:none;" href={% url 'app-consult-versions' name=file_name %}>
                    <i class="fa fa-history" style="color:#196EBC;padding-right:1em;scale:1.125;"></i>
                </a>
                <a style="text-decoration:none;" href={% url 'app-download-file' name=file_name %}>
                    <i class="fa fa-download" style="color:#196EBC;padding-right:1em;scale:1.125;"></i>
                </a>
                {% if username == user_username %}
                <a style="text-decoration:none;" onclick="return confirm('Estàs segur/a que vols esborrar aquest fitxer?');
                " href={% url 'app-delete-file' name=file_name %}>
                    <i class=" fa fa-trash" style="color:#96021f;padding-right:1em;scale:1.125;"></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</br></br>
{% endblock content %}