{% extends 'base.html' %}

{% block content %}
<header class="w3-panel" style="padding: 20px 16px">
    <button class="w3-button" style="color:#196EBC;" onclick="goBack()"><i class="fa fa-backward"></i> Enrere</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <div class="w3-center">
        <h2 class="w3-xlarge">Estàs veient les versions el fitxer <b>{{file_name}}</b> del curs <b>{{course_name}}</b>.
        </h2>
    </div>
</header>
<h2 class="w3-large">Llistat de versions</h2>
<div>
    <table class="rwd-table" style="width: 100%;">
        <tr>
            <th>Usuari creador</th>
            <th>Data de modificació</th>
            <th>Accions disponibles</th>
        </tr>
        {% for username, action_date, file_path in file_info%}
        <td>{{ username }}</td>
        <td>{{ action_date }}</td>
        <td>
            <a href={% url 'app-consult-file-version-for' name=file_name date=action_date %}>
                <i class="fa fa-eye" style="color:#196EBC;padding-right:1em;scale:1.125;"></i>
            </a>
        </td>
        </tr>
        {% endfor %}
    </table>
</div>
</br></br>
{% endblock content %}