{% extends 'base.html' %}
{% load markdownify %}
{% block content %}
<header class="w3-panel" style="padding: 20px 16px">
    <div class="w3-center">
        <h2 class="w3-xlarge">Estàs veient el fitxer <b>{{file_name}}</b> del curs <b>{{course_name}}</b>.</h2>
    </div>
</header>
<div style=" width: 100%; border-radius: 0.4em; background: #f1f1f1; padding: 20px;">
    {% if file_extension == ".md" %}
    {{ file_content | markdownify }}
    {% endif %}

    {% if file_extension == ".txt" %}
    {{ file_content }}
    {% endif %}
</div>
</br></br>
{% endblock content %}