{% extends 'base.html' %}

{% block content %}
<header class="w3-panel" style="padding: 20px 16px">
    <div class="w3-center">
        <h2 class="w3-xlarge">Estàs veient les versions el fitxer <b>{{file_name}}</b> del curs <b>{{course_name}}</b>.
        </h2>
    </div>
</header>
<h2 class="w3-large">Llistat de versions</h2>
<div class="w3-panel">
    <div style="text-align:center">
        <h1 style="color:red;">TODO: create one fot the version page!!</h1>
        <img style="width: 75%; height:auto" src="../../../static/images/book.png" class="w3-image"
            alt="study with book">
    </div>
</div>
</br>
<div style="padding: 5px;background-color: #d1eeff;">
    <table>
        <tr>
            <td><i class="fa fa-info-circle" style="color:#196EBC"></i></td>
            <td></br></td>
            <td style="text-align:left;">
                <label class="w3-opacity w3-small">
                    <i>
                        <b>Recordatori:</b> El format de la data de modificació és: <tt
                            style="font-size:12px;"><i>dd_mm_aaaa__hh_nn__ss</i></tt> on <tt
                            style="font-size:12px;"><i>dd = dia, mm = mes, aa = any, hh = hora, nn = minut, ss =
                                segons</i></tt>.
                    </i>
                </label>
            </td>
        </tr>
    </table>
</div>
</br>
<div>
    <table class="rwd-table" style="width: 100%;">
        <tr>
            <th>Usuari creador</th>
            <th>Data de modificació</th>
            <th>Accions disponibles</th>
        </tr>
        {% for username, action_date, file_path in file_info%}
        <td>{{ username }}</td>
        <td>{{ action_date }}</td>
        <td>
            <a href={% url 'app-consult-file-version-for' name=file_name date=action_date %}>
                <i class="fa fa-eye" style="color:#196EBC;padding-right:1em;scale:1.125;"></i>
            </a>
        </td>
        </tr>
        {% endfor %}
    </table>
</div>
</br></br>
{% endblock content %}