{% extends 'base.html' %}
{% block content %}
<header class="w3-panel w3-center w3-opacity" style="padding: 50px 16px">
	<h1 class="w3-xlarge">Benvingut/da a Nexus!</h1>
	<p>
		Nexus és una eina que permet <i><b>penjar</b></i>, <i><b>consultar</b></i>, <i><b>descarregar</b></i>,
		<i><b>editar</b></i> i <i><b>mirar les versions</b></i> d’apunts d’aquesta assignatura.
	</p>
</header>
<h2 class="w3-large">Quina acció vols fer?</h2>
<div class="w3-panel" style="text-align:center">
	<div>
		<img style="width: 75%; height:auto" src="../static/images/study-with-pc.png" class="w3-image"
			alt="study with pc">
	</div>
	</br></br>
	<div style="padding: 5px;background-color: #d1eeff;">
		<table>
			<tr>
				<td><i class="fa fa-info-circle" style="color:#196EBC"></i></td>
				<td></br></td>
				<td style="text-align:left;">
					<label class="w3-opacity w3-small">
						<i>
							Per poder penjar o editar un fitxer, escull l'acció <b>Penjar</b> (Si penges un fitxer amb
							el mateix nom d'un que ja existia, es crea una nova versió d'aquest i, per tant, l'edites).
						</i>
						</br>
						<i>
							Per poder consultar, descarregar o mirar les versions d'un fitxer un fitxer, escull l'acció
							<b>Consultar</b>.
						</i>
					</label>
				</td>
			</tr>
		</table>
	</div>
	</br>
	<form method="get" action="" role="option">
		<div>
			<select class="w3-select" id="action">
				<option value=" hide">-- Selecciona una acció --</option>
				<option value="upload">Penjar</option>
				<option value="consult">Consultar</option>
			</select>
			<button class="w3-button" type="button" id="submit"
				style="background-color:#196EBC;color:white;width:100%;">Executar
				acció seleccionada</button>
		</div>
	</form>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script type="text/javascript" language="javascript">
		jQuery(document).ready(function () {
			jQuery("#submit").click(function () {
				var action_value = $('#action').val();
				if (action_value != "hide") window.location.href = '/' + action_value;
			});
		});
	</script>
</div>
</br></br>
{% endblock content %}